{% layout "server/layouts/base.liquid" %}

{% block content %}
<div class="folder">
  <div class="left-page">
    <p class="Name">File: {{ hero.name }}</p>
    <img src="{{ hero.image.url }}" alt="{{ hero.name }}" width="{{ hero.image.width }}" height="{{ hero.image.height }} onerror="this.src =
    'https://picsum.photos/id/237/480/640' style="view-transition-name: detailpage-{{ hero.id }}" />
  </div>

  <div class="right-page">
    <p class="Name"> Stats</p>
    <div class="hero-stats">
      {% for stat in hero.stats %}
        <p class="folder-header">{{ stat.name }}:</p>
        <div class="container" style="--decimal: {{ stat.decimal }}" data-integer="{{ stat.integer }}">
          <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
        </div>
      {% endfor %}
    </div>
    <div class="extra-info">
      <p class="folder-header">name:</p>
      <p>{{ hero.biography['full-name'] }}</p>
      <p class="folder-header">birth:</p>
      <p>{{ hero.biography.place-of-birth }}</p>
      <p class="folder-header">gender:</p>
      <p>{{ hero.appearance.gender }}</p>
      <p class="folder-header">race:</p>
      <p>{{ hero.appearance.race }}</p>
      <p class="folder-header">height:</p>
      <p>{{ hero.appearance.height[1] }}</p>
      <p class="folder-header">weight:</p>
      <p>{{ hero.appearance.weight[1] }}</p>
      <p class="folder-header">alignment:</p>
      <p>{{ hero.biography.alignment }}</p>
      <p class="folder-header">publisher:</p>
      <p>{{ hero.biography.publisher }}</p>

    </div>
  </div>
</div> 

{% endblock %}
