{% layout "server/layouts/base.liquid" %}

{% block content %}
<h1 class="h1">{{ hero.name }}</h1>


<div class="folder">
  <div class="left-page">
    <p class="Name">File: {{ hero.name }}</p>
    <img src="{{ hero.image.url }}" alt="{{ hero.name }}" width="{{ hero.image.width }}" height="{{ hero.image.height }} onerror="this.src =
    'https://picsum.photos/id/237/480/640' style="view-transition-name: detailpage-{{ hero.id }}" />
  </div>

  <div class="right-page">
    <p class="Name"> Stats</p>
    <div class="hero-stats">
      {% for stat in hero.stats %}
        <p>{{ stat.name }}</p>
        <div class="container" style="--decimal: {{ stat.decimal }}" data-integer="{{ stat.integer }}">
          <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
        </div>
      {% endfor %}
    </div>
    <p>name: <br> {{ hero.biography.full-name }}</p>
    <p>birth: <br> {{ hero.biography.place-of-birth }}</p>
    <p>gender: <br> {{ hero.appearance.gender }}</p>
    <p>race: <br> {{ hero.appearance.race }}</p>
    <p>height: <br> {{ hero.appearance.height[1] }}</p>
    <p>weight: <br> {{ hero.appearance.weight[1] }}</p>
    <p>aligment: <br> {{ hero.biography.alignment }}</p>
    <p>publisher: <br> {{ hero.biography.publisher }}</p>

  </div>
</div> 

{% endblock %}
