{% layout "server/layouts/base.liquid" %}

{% block content %}
<h1 class="h1">{{ hero.name }}</h1>
<img src="{{ hero.image.url }}" alt="{{ hero.name }}" width="{{ hero.image.width }}" height="{{ hero.image.height }} onerror="this.src =
          'https://picsum.photos/id/237/480/640' style="view-transition-name: detailpage-{{ hero.id }}" />

<table>
      <tr>
        <th>Intelligence</th>
        <th>{{ hero.powerstats.intelligence }}</th>
      </tr>
      <tr>
        <th>strength</th>
        <th>{{ hero.powerstats.strength }}</th>
      </tr>
      <tr>
        <th>speed</th>
        <th>{{ hero.powerstats.speed }}</th>
      </tr>
      <tr>
        <th>durability</th>
        <th>{{ hero.powerstats.durability }}</th>
      </tr>
      <tr>
        <th>power</th>
        <th>{{ hero.powerstats.power }}</th>
      </tr>
      <tr>
        <th>combat</th>
      <th> {{ hero.powerstats.combat }}</th>
      </tr>

      <tr>
        <th>gender</th>
        <th> {{ hero.appearance.gender }}</th>
      </tr>
      <tr>
        <th> birth </th>
        <th> {{ hero.biography.place-of-birth }} </th>
      </tr>
      <tr>
       <th> publisher </th>
       <th> {{ hero.biography.publisher }} </th>
      </tr>
      <tr>
        <th> name </th>
        <th> {{ hero.biography.full-name }}</th>
      </tr>
      <tr>
        <th> aligment </th>
        <th> {{ hero.biography.alignment }} </th>
      </tr>
      <tr>
        <th> gender </th>
        <th> {{ hero.appearance.gender }} </th>
      </tr>
      <tr>
        <th> race </th>
        <th> {{ hero.appearance.race }} </th>
      </tr>
      <tr>
        <th> height </th>
        <th> {{ hero.appearance.height[1] }} </th>
      </tr>
      <tr>
        <th> weight </th>
        <th> {{ hero.appearance.weight[1] }} </th>
      </tr>
      
      </table>
{% endblock %}
