{% layout "server/layouts/base.liquid" %}

{% block content %}
<h1 class="h1">{{ title }}</h1>

<form action="/" method="get">
  <button id="NewHeroes">Get New Heroes</button>
</form>
<button id="battleButton">Battle</button>

<ul class="grid">

  <div class="card">
    <div class="card-content">
      <p class="Name">{{ hero1.name }}</p>
      <a href="/Hero/{{hero1.id}}">
        <img src={{ hero1.image.url }} alt={{ hero1.name }} onerror="this.src =
        'https://picsum.photos/id/237/480/640'" style="view-transition-name: detailpage-{{ hero1.id }}"
        />
      </a>

      <div class="hero-stats">
        {% for stat in hero1.stats %}
          <p>{{ stat.name }}</p>
          <div class="container" style="--decimal: {{ stat.decimal }}" data-integer="{{ stat.integer }}">
            <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
          </div>
        {% endfor %}
      </div>
    </div>
  </div> 


  <div class="card">
    <div class="card-content">
      <p>{{ hero2.name }}</p>
      <a href="/Hero/{{hero2.id}}">
        <img src={{ hero2.image.url }} alt={{ hero2.name }} onerror="this.src =
        'https://picsum.photos/id/237/480/640'" style="view-transition-name: detailpage-{{ hero2.id }}"
        />
      </a>

      <div class="hero-stats">
        {% for stat in hero2.stats %}
          <p>{{ stat.name }}</p>
          <div class="container" style="--decimal: {{ stat.decimal }}" data-integer="{{ stat.integer }}">
            <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
          </div>
        {% endfor %}
      </div>
    </div>
  </div> 

   
</ul>

{% endblock %}
