{% layout "server/layouts/base.liquid" %}

{% block content %}
<h1 class="h1">{{ title }}</h1>

<form action="/" method="get">
  <button id="NewHeroes">Get New Heroes</button>
</form>

<ul class="grid">

<div class="card" >
  <div class="card-content" style="background-image: url('{{ hero1.image.url }}');">
    <a href="/Hero/{{hero1.id}}" style="view-transition-name: detailpage-{{ hero1.id }}">
    <h1 class="Name">{{ hero1.name }}</h1>
    </a>

    <div class="hero-stats">
      {% for stat in hero1.stats %}
        <p>{{ stat.name }}</p>
        <div class="container" style="--decimal: {{ stat.decimal }}" data-integer="{{ stat.integer }}">
          {% for _ in (1..10) %}
            <span class="star"></span>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>


  <button id="battlebutton">Battle</button>

  <div class="card" >
    <div class="card-content" style="background-image: url('{{ hero2.image.url }}');">
      <a href="/Hero/{{hero2.id}}" style="view-transition-name: detailpage-{{ hero2.id }}">
      <h1 class="Name">{{ hero2.name }}</h1>
      </a>
  
      <div class="hero-stats">
        {% for stat in hero2.stats %}
          <p>{{ stat.name }}</p>
          <div class="container" style="--decimal: {{ stat.decimal }}" data-integer="{{ stat.integer }}">
            {% for _ in (1..10) %}
              <span class="star"></span>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

   
</ul>

{% endblock %}
