{% layout "server/layouts/base.liquid" %}

{% block content %}

<h1 class="h1">{{ title }}</h1>
<ul class="grid">
  {% for item in items.results %}
    {% if item.biography.publisher == "Marvel Comics" or item.biography.publisher == "DC Comics"%}
      {% if item.powerstats.intelligence != "null" and 
      item.powerstats.strength != "null" and 
      item.powerstats.speed != "null" and 
      item.powerstats.durability != "null" and 
      item.powerstats.power != "null" and 
      item.powerstats.combat != "null" %}
    <table>
      <tr> <th>{{ item.name }}</th></tr>
      <tr>
        <th>
          <a href="/Hero/{{item.id}}">
          <img src={{ item.image.url }} alt={{ item.name }} onerror="this.src =
          'https://picsum.photos/id/237/480/640'"/>
          </a>
        </th>
      </tr>
      <tr>
        <th>Intelligence</th>
        <th>{{ item.powerstats.intelligence }}</th>
      </tr>
      <tr>
        <th>strength</th>
        <th>{{ item.powerstats.strength }}</th>
      </tr>
      <tr>
        <th>speed</th>
        <th>{{ item.powerstats.speed }}</th>
      </tr>
      <tr>
        <th>durability</th>
        <th>{{ item.powerstats.durability }}</th>
      </tr>
      <tr>
        <th>power</th>
        <th>{{ item.powerstats.power }}</th>
      </tr>
      <th>combat</th>
      <th>{{ item.powerstats.combat }}</th>
    </table>

    {% endif %}
  {% endif %}
  {% endfor %}
</ul>

{% endblock %}
